# Maven build output
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/release.properties

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/

# macOS
.DS_Store

# Arquivos temporários
*.tmp
*.log
